nav {
  width: 100%;
  height: auto;
}
nav ul {
  width: auto;
  height: auto;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: blue;
  background-color: red;
  float: left;
}


/* The beggining of the active styles */
nav a:hover {
  color: red;
  background-color: blue;
}
