article1{
  background color:rgb(85, 199, 31);
  font-family: times-new-roman;
  font-size: 18px;
  color: rgb(238, 246, 230);
  line-height: 1.2em;
  padding: none;
}

article2{
  background color
  font family
  font size
  font color
  line height
  padding value
}

article3{
  background-color: rgb(25, 238, 200);
  font-family:cursive;
  font-size: 18px;
  color:rgb(222, 222, 222);
  line-height: 1.2em;
  padding: 20px;
}

article4{
  background color
  font family
  font size
  font color
  line height
  padding value
}

article5{
  background color
  font family
  font size
  font color
  line height
  padding value
}
